.main-content-wrap{
    max-width: 100%
}

.content {
  max-width: 700px;
  margin: 40px auto 10px;
  padding: 0 15px;
  font-size: 16px;
  line-height: 1.7;
  color: #333;
}


.content-container {
    max-width: 100%;
    margin: 0 auto;
}


@media (max-width: 768px) {
    .content-container {
        max-width: 100%;
    }
}


.background-image-custom {
    background-image: url('/img/exoplanet.png');
    background-size: cover;
    background-position: center center;
}


.project-entry {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}

.project-text {
    flex: 0 0 60%; /* adjust as needed */
    padding-right: 2rem;
}

.project-image {
    flex: 0 0 35%; /* adjust as needed */
}

.project-image img {
    max-width: 100%;
    height: auto;
    border: 1px solid #ccc;
}

