.main-content-wrap{
    max-width: 100%
}

.content {
  max-width: 700px;
  margin: 40px auto 10px;
  padding: 0 15px;
  font-size: 16px;
  line-height: 1.7;
  color: #333;
}


.content-container {
    max-width: 100%;
    margin: 0 auto;
}


@media (max-width: 768px) {
    .content-container {
        max-width: 100%;
    }
}
